%table
  %tr
    %th
      = f.label :name, 'グループ名'
    %td
      = f.text_field :name
.wat-cf
  %button{:type => "submit"}
    = image_tag("devise/icons/tick.png")
    保存
  = link_to 'キャンセル', groups_path
