%h2 サイトグループ
%br
・
= link_to '新規グループの登録', new_group_path
%br
%br
%table
  %tr
    %th グループ名
    %th 詳細
    %th 編集

  - @groups.each do |group|
    %tr
      %td= link_to group.name, group_path(group)
      %td= link_to '詳細', group
      %td= link_to '編集', edit_group_path(group)
