#tray.box
  %p.f-left
    = link_to 'Troch', :root
  %p.f-right
    %strong
      = current_user.email
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    = link_to('個人設定', edit_path)
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    =link_to 'ログアウト', destroy_user_session_path, :method => :delete, :id => 'logout'
