#tray.box
  %p.f-left.box
    = link_to 'Troch', :root
  %p.f-right
    ユーザ:
    %strong
      = link_to(current_user.email, edit_path)
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    =link_to 'ログアウト', destroy_user_session_path, :method => :delete, :id => 'logout'
