.block
  .content
    %h2.title
      設定
    .inner
      %br
      %ul
        %li= link_to "個人設定", edit_path

      %br
      管理
      %ul
        %li= link_to "サイト監視の起動/停止", :action => 'watch_on_off'
        %li= link_to "サイト管理（Rails Admin）", :rails_admin
        %li= link_to "バックグラウンドジョブ管理（Resque）", "resque"
