.block
  .content
    %h2.title Troch
    .inner
      %table.table
        %tr
          %th Site Name
          %th Status
          %th Response Time
          %th Watched Date
        - @watchlogs.each do |watchlog|
          %tr
            %td
              = watchlog.site.name
            %td
              = watchlog.status
            %td
              = watchlog.response_time
              msec
            %td
              = watchlog.updated_at
- content_for :sidebar, render(:partial => 'sidebar')
